streamlit==1.40.0
ollama
pandas
requests
pypdf
langchain>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
sentence-transformers
faiss-cpu
langchain-openai
psycopg2-binary
pyyaml
sentence-transformers
faiss-cpu==1.9.0